nav {
    list-style-type: none;
    height: 43px;
  
    padding-right: 200px;
    overflow: hidden;
    background: #333;

}


nav a {
    background-position: center;
    float: left;
    
    display: block;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 17px;
}

a:hover:not(.active) {
    background: #111;
}

nav .active {
    background-color: grey;
}