.counter {
    width: 20%;
   

    height: 250px;
    background-color: aqua;
    margin: 10% 10% 10% 43%;
    background-position: center;
   
}

.count {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vh;
    width: 0;
    height: 0;
    padding-left: 50%;
    text-align: center;
    padding-top: 50px;
}


.button1 , .button2{
   
  background-color: red;
  height: 10%;
   width: 10%;
   margin-top: 90px;  
   margin-left: 20%;
   margin-right: 20%;
   background-position: center;
   float: center; 
 
   font-size: 100%;
}